@font-face {
    font-family: "Lucida Sans";
    src: url("assets/LucidaSans.ttf");
}

@font-face {
    font-family: "Segoe WP";
    src: url("assets/SegoeWP.ttf");
}

@font-face {
    font-family: "Asap";
    src: url("assets/Asap-Regular.ttf");
}

@font-face {
    font-family: "Segoe UI";
    src: url("assets/SegoeUI.ttf");
}

@font-face {
    font-family: "PT Sans";
    src: url("assets/ptsans/PTSans-Regular.ttf");
}

@font-face {
    font-family: "LucidaSans-Italic";
    src: url("assets/LucidaSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("assets/open-sans/opensans.ttf");
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
}

header {
    width: 100%;
    margin-top: 25px;
    margin-bottom: -115px;
}

.header-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.header-logo {
    width: 50%;
    height: auto;
    display: flex;
}

.logo-first-part {
    margin-right: -80px;
    opacity: 0.5;
}

h1 {
    padding: 0;
    margin: 0;
    align-self: center;
    font-size: 41px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: "Lucida Sans", Arial, sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

nav {
    display: flex;
    align-self: flex-end;
    padding: 0;
    margin-left: 0;
    box-shadow: -5px -5px 2px #9B7D08, -10px -10px 4px #7A681A;
}

a {
    padding-left: 10px;
    font-size: 17px;
    letter-spacing: 0;
    color: #9b7d08;
    font-family: "Segoe WP", Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.nav-section {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5C506;
    border: 1px solid #DCB105;
}

.first-nav-section {
    padding-left: 35px;
}

.nav-section:hover {
    background-color: lightyellow;
}

.title-page {
    width: 100%;
    padding-top: 160px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("pics/Layer _header.jpeg");
}

.the-cool, .the-minimal {
    font-size: 63px;
    letter-spacing: 1px;
    color: #F5C506;
    font-family: "Asap", Arial, sans-serif;;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.the-minimal {
    color: #FFFFFF;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-area {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.slider-fill {
    width: 33px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5c506;
    opacity: 0.7;
}

.slider-fill:hover {
    background-color: forestgreen;
}

.central-block {
    width: 80%;
    height: auto;
    display: flex;
}

.placeholder1 {
    width: 549px;
    height: 327px;
    background-image: url("pics/parrots_upd.png");
    background-size: 100% 100%;
}

.play-button {
    width: 67px;
    height: 67px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    background-color: #f5c506;
    opacity: 0.7;
}

.play-button:hover {
    background-color: coral;
}

.video-controls {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.switch-button {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC9E03;
    opacity: 0.7;
}

.timer {
    width: 220px;
    height: 12px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    border-radius: 3px;
    background-color: #f5c506;
    opacity: 0.5;
}

.played-time {
    width: 180px;
    height: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    background-color: #f5c506;
}

.volume {
    padding: 5px 5px 5px 0;
}

.advantage {
    width: 100%;
    height: 212px;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    border: 1px solid #D4D4D4;
    box-shadow: 0px -2px 0px #4C4C4C;

}

.cover {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.design, .custom, .free {
    width: 33.3%;
    height: 99%;
    padding: 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    border: 1px solid #D4D4D4;
}

.advantage-text {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe UI", Arial, sans-serif;;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.social-media-section {
    width: 100%;
    height: 509px;
    display: flex;
    justify-content: center;
    background-image: url("pics/bg_media.png");
    background-size: 100% 100%;
}

.SMS-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;*/
}

.text {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
}

.header-text-media {
    width: 918px;
    height: 130px;
    font-size: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.main-part {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.main-part-separator1 {
    width: 66%;
    height: 233px;
    display: flex;
}

.main-part-separator2 {
    width: 30%;
    height: 233px;
    display: flex;
}

.latin-text-box {
    width: 50%;
    height: 233px;
    display: flex;
    background-color: #EC9E03;
}

.inner-text {
    padding: 20px 0px 20px 20px;
    margin: 0 auto;
}

.latin-text-media {
    width: 279px;
    height: 307px;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP", Arial, sans-serif;
    font-weight: 300;
}

.plus-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1px;
    margin: 8px;
}

.plus-box img:hover {
    background-color: black;
}

.monkey-placeholder {
    width: 50%;
    justify-self: flex-start;
    background-image: url("pics/monkey.jpeg");
    background-size: 100% 100%;
}

.play-centralizing-monkey {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-container {
    width: 90%;
    height: 100%;
    display: flex;
    background-color: #EC9E03;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
}

.twitter {
    width: 90%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.twitter-elements {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.twitter-num {
    margin: 5px 10px 5px 5px;
    display: flex;
    justify-content: flex-start;
}

.twi-num {
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP", Arial, sans-serif;
}

.date {
    width: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCB102;
}

.date-num {
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: bold;
}

.date-month {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI", Arial, sans-serif;
    text-transform: uppercase;
}

.slidecontainer-cover {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.slidecontainer {
    width: 80%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

}

.media-slider {
    -webkit-appearance: none;
    width: 100%; /* Full-width */
    height: 16px; /* Specified height */
    display: flex;
    align-self: center;
    background-color: #ffffff; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 7px;
    opacity: 0.5;
}

.media-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #EC9E03;
    height: 16px;
    width: 198px;
    border-radius: 7px;
    background-color: #EC9E03;
}

.hi-tech-container {
    position: relative;
    width: 100%;
    height: 499px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("pics/bg_gray.png");
    background-size: 100% 100%;
}

.hi-tech-text-cover {
    padding: 20px;
    margin: 0 auto;
}

.hi-tech-text {
    width: 918px;
    height: 130px;
    font-size: 43px;
    letter-spacing: 0px;
    color: #f5c506;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.hi-tech-separator {
    width: 80%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.devices {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.ipad-class, .phone-class {
    margin-bottom: 25px;
}

.hi-tech-circle {
    position: absolute;
    display: flex;
    left: 120px;
    top: 120px;
    justify-content: center;
    align-items:center ;
    background-color: #F5C506;
    height: 140px;
    width: 140px;
    border-radius: 200px;
}

.hi-tech-circle-text {
    color: #FFFFFF;
    font-size: 19px;
    font-family: "LucidaSans-Italic", Arial, sans-serif;;
}

.list {
    width: 40%;
    display: flex;
    align-items: flex-end;
}

.li-text {
    width: 352px;
    height: 45px;
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
ul li::before {
    content: "";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    border: 2px solid #F5C506;
    background-color: #f5c506;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.footer{
    width: 100%;
    height: auto;
    background-color: #4C4C4C;
    border-top: 2px solid #3E3E3E;
}

.footer-container{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo-footer{
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans", Arial, sans-serif;
    font-style: italic;
    text-align: center;
    display: flex;
    align-self: center;
}


    @media only screen and (max-width: 768px) {

        .cover {
            width: 100%;
        }

        header {
            position: static;
            display: block;
            width: 100%;
            height: auto;
            top: 0;
        }

        .container {
            display: flex;
            width: 30%;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: rgb(71, 71, 71);
            border: 1px solid rgb(71, 71, 71);
        }

        .logo {
            width: 65px;
            height: 70px;
            padding-left: 20px;
            padding-right: 10px;
        }

        .logo-text {
            display: block;
            width: auto;
            height: auto;
            padding-top: 22px;
            font-size: 22px;
        }

        .nav {
            width: 70%;
            height: 112px;
            margin-top: 0px;
            padding: 0px;
            box-shadow: none;
        }

        .about-us, .services, .contact {
            width: 62%;
            height: auto;
        }

        .play-button:active .play-icon {
            background-color: coral;
        }

        .ABOUT-US:active .about-us-text {
            background-color: lightyellow;
        }

        .SERVICES:active .services-text {
            background-color: lightyellow;
        }

        .CONTACTS:active .contacts-text {
            background-color: lightyellow;
        }

        .yellow-rectangle:active {
            background-color: forestgreen;
        }

        .plus-box img:active {
            background-color: black;
        }

        .central-block {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .placeholder1 {
            display: block;
            width: 100%;
            height: 328px;
            padding: 0px;
            margin: 0;
        }

        .left-arrow {
            display: none;
        }

        .right-arrow {
            display: none;
        }

        .banner {
            display: none;
        }

        .placeholder1 {
            width: 100%;
        }

        .play-centralizing {
            justify-content: center;
        }

        .advantage {
            border: none;
            box-shadow: 0px -2px 0px rgba(255, 255, 255, 0.5), 0px -4px 0px rgba(255, 255, 255, 0.1);;
        }

        .design, .custom, .free {
            border: none;
        }

        .text {
            display: none;
        }

        .main-part {
            flex-direction: column;
        }

        .main-part-separator1 {
            width: 100%;
            background-color: #FFFFFF;
        }

        .latin-text-box, .monkey-placeholder {
            width: 50%;
            margin: 5px;
        }

        .inner-text {
            font-size: 33px;
        }

        /* TWITTER */
        .date {
            display: none;
        }

        .slidecontainer-cover {
            display: none;
        }

        .hi-tech-text-cover {
            width: 100%;
        }

        .devices {
            width: 100%;
        }

        .list {
            display: none;
        }
    }