@font-face {
    font-family: "Lucida Sans";
    src: url("assets/LucidaSans.ttf");
}

@font-face {
    font-family: "Segoe WP";
    src: url("assets/SegoeWP.ttf");
}

@font-face {
    font-family: "Asap";
    src: url("assets/Asap-Regular.ttf");
}

@font-face {
    font-family: "Segoe UI";
    src: url("assets/SegoeUI.ttf");
}

@font-face {
    font-family: "PT Sans";
    src: url("assets/ptsans/PTSans-Regular.ttf");
}

@font-face {
    font-family: "LucidaSans-Italic";
    src: url("assets/LucidaSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("assets/open-sans/opensans.ttf");
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
    min-width: 640px;
}

header {
    width: 100%;
    margin-top: 25px;
    margin-bottom: -115px;
}

.header-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.header-logo {
    width: 50%;
    display: flex;
}

.logo-first-part {
    opacity: 0.5;
}

.logo-second-part {
    margin-left: -80px;
}

h1 {
    padding: 0;
    margin: 0;
    align-self: center;
    font-size: 41px;
    color: #ffffff;
    font-family: "Lucida Sans", Arial, sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

nav {
    display: flex;
    align-self: flex-end;
    padding: 0;
    margin-left: 0;
    box-shadow: -5px -5px 2px #9B7D08, -10px -10px 4px #7A681A;
}

a {
    padding-left: 10px;
    font-size: 17px;
    letter-spacing: 0;
    color: #9b7d08;
    font-family: "Segoe WP", Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.nav-section {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5C506;
    border: 1px solid #DCB105;
}

.first-nav-section {
    padding-left: 35px;
}

.nav-section:hover {
    background-color: lightyellow;
}

.title-page {
    width: 100%;
    padding-top: 160px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("pics/Layer _header.jpeg");
}

.the-cool, .the-minimal {
    font-size: 63px;
    letter-spacing: 1px;
    color: #F5C506;
    font-family: "Asap", Arial, sans-serif;;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.the-minimal {
    color: #FFFFFF;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-area {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.slider-fill {
    width: 33px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5c506;
    opacity: 0.7;
}

.slider-fill:hover {
    background-color: forestgreen;
}

.central-block {
    width: 80%;
    height: auto;
    display: flex;
}

.placeholder1 {
    width: 549px;
    height: 327px;
    background-image: url("pics/parrots_upd.png");
    background-size: 100% 100%;
}

.play-button {
    width: 67px;
    height: 67px;
    margin: 125px auto 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    background-color: #f5c506;
    opacity: 0.5;
}

.play-button:hover {
    background-color: coral;
}

.video-controls {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.switch-button {
    width: 27px;
    height: 27px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC9E03;
    opacity: 0.5;
}

.video-timer-wrapper {
    width: 73%;
    display: flex;
    align-items: center;
}

.timer {
    width: 60%;
    height: 12px;
    border-radius: 3px;
    background-color: #f5c506;
    opacity: 0.5;
}

.played-time {
    width: 45%;
    height: 12px;
    margin-right: -5px;
    border-radius: 3px;
    background-color: #f5c506;
}

.volume {
    padding: 5px 5px 0 5px;
}

.advantage {
    width: 100%;
    height: 212px;
    display: flex;
    justify-content: center;
    border: 1px solid #D4D4D4;
    box-shadow: 0 -2px 0 #4C4C4C;

}

.advantage-cover {
    width: 80%;
    display: flex;
    justify-content: center;
}

.design, .custom, .free {
    width: 33.3%;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #D4D4D4;
}

.design span, .custom span, .free span {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #000000;
    font-family: "Segoe UI", Arial, sans-serif;;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.social-media-section {
    width: 100%;
    height: 509px;
    display: flex;
    justify-content: center;
    background-image: url("pics/bg_media.png");
    background-size: 100% 100%;
}

.SMS-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 37px;
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.main-part {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.main-part-separator {
    width: 66%;
    height: 233px;
    display: flex;
}

.latin-text-box {
    width: 50%;
    height: 233px;
    display: flex;
    flex-direction: column;
    background-color: #EC9E03;
}

.latin-text-box p {
    margin: 15px 25px 5px 25px;
    font-size: 26px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP", Arial, sans-serif;
    font-weight: 300;
}

.latin-text-box img {
    margin: 0 10px 10px auto;
}

.latin-text-box img:hover {
    background-color: black;
}

.monkey-placeholder {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pics/monkey.jpeg");
    background-size: 100% 100%;
}

.monkey-play-button {
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    background-color: #f5c506;
    opacity: 0.5;
}

.monkey-play-button:hover {
    background-color: coral;
}

.twitter-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EC9E03;
}

.twi-num {
    margin: 15px 20px auto auto;
    font-size: 29px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP", Arial, sans-serif;
}

.twitter-plus {
    margin: 15px 10px 10px auto;
}

.twitter-plus:hover {
    background-color: black;
}

.date {
    width: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCB102;
}

.date-num {
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: bold;
}

.date-month {
    font-size: 21px;
    letter-spacing: 0;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI", Arial, sans-serif;
    text-transform: uppercase;
}

.slider-container {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.media-slider {
    -webkit-appearance: none;
    width: 80%; /* Width */
    height: 16px; /* Specified height */
    display: flex;
    align-self: center;
    background-color: #ffffff; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 7px;
    opacity: 0.5;
}

.media-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #EC9E03;
    height: 16px;
    width: 198px;
    border-radius: 7px;
    background-color: #EC9E03;
}

.hi-tech {
    height: 499px;
    background-image: url("pics/bg_gray.png");
}

.hi-tech-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hi-tech-text-cover {
    padding-top: 45px;
    padding-bottom: 60px;
    margin: 0 auto;
    font-size: 43px;
    color: #f5c506;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.hi-tech-separator {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hi-tech-circle {
    height: 140px;
    width: 140px;
    margin-top: -50px;
    margin-left: -30px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #FFFFFF;
    font-size: 17px;
    font-family: "PTSans-NarrowBold", Arial, sans-serif;
    text-transform: uppercase;
    background-color: #F5C506;
    border-radius: 200px;
}

.label-wrapper {
    min-width: 323px;
    height: 255px;
    margin: 0 10px;
    background-image: url("pics/comp_pic.png");
    background-size: 100% 100%;
}

.ipad-class, .phone-class {
    margin: 0 10px 40px 10px;
}

ul {
    margin: 0 0 0 45px;
    font-size: 20px;
    color: #a9a9a7;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
    display: flex;
    margin-top: 15px;
}
ul li::before {
    content: "";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    border: 2px solid #F5C506;
    background-color: #f5c506;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.footer{
    width: 100%;
    height: auto;
    background-color: #4C4C4C;
    border-top: 2px solid #3E3E3E;
}

.footer-container{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer-container img {
    width: 50px;
    height: 50px;
}

.footer-logo-first-part {
    opacity: 0.5;
}

.footer-logo-second-part {
    margin-left: -50px;
}

.footer-container span {
    font-size: 29px;
    color: #ffffff;
    font-family: "Lucida Sans", Arial, sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 960px) {
    header {
        margin: 0;
        background-color: #5B5B5B;
    }

    .header-wrapper {
        width: 100%;
    }

    .header-logo {
        width: auto;
        margin-left: 10px
    }

    .logo-first-part, .logo-second-part {
        width: 39px;
        height: 39px;
    }

    .logo-second-part {
        margin-left: -39px;
    }

    h1 {
        font-family: "LucidaSans-Italic", Arial, sans-serif;
        font-size: 17px;
    }

    nav {
        box-shadow: none;
    }

    .nav-section {
        padding: 20px 15px;
    }

    .nav-section:active {
        background-color: lightyellow;
    }

    .first-nav-section {
        padding-left: 35px;
    }

    .title-page {
        padding: 0;
        background-image: none;
    }

    .banner, .control-area {
        display: none;
    }

    .placeholder1 {
        width: 100%;
    }

    .play-button:active {
        background-color: coral;
    }

    .advantage {
        box-shadow: 0 -5px 0 rgba(249, 249, 249, 0.6), 0 -10px 0 rgba(249, 249, 249, 0.3);
    }

    .advantage-cover {
        width: 100%;
    }

    .design, .custom, .free {
        border: none;
    }

    .social-media-section {
        height: auto;
        background-image: none;
    }

    .SMS-container {
        width: 100%;
    }

    .main-part {
        flex-direction: column;
    }

    .latin-text-box, .monkey-placeholder {
        margin: 0 2px 5px 2px;
    }

    .latin-text-box {
        height: auto;
    }

    .main-part-separator, .twitter-container {
        width: 100%;
    }

    .twitter-container {
        padding: 40px 0;
    }

    .twitter-plus, .twi-num {
        display: none;
    }

    .text, .date, .slider-container {
        display: none;
    }

    .plus-box img:active {
        background-color: black;
    }

    .hi-tech-text-cover {
        font-size: 41px;
    }

    ul {
        display: none;
    }

    .footer {
        box-shadow: 0 -5px 10px black;
    }

}