body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;
    max-height: 1850px;
}

header {
    display: block;
    width: 100%;
    max-width: 1300px;
    height: auto;
    position: absolute;
    top: 20px;
}

.container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.logo {
    display: flex;
    width: 50%;
    height:auto ;
}
.logo1 {
    position: absolute;
    opacity: 0.5;
}

.logo-text {
    font-size: 41px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 0;
    align-self: center;
}

.navigation-div {
    width: 50%;
    display: flex;
    justify-items: start;
    align-self: flex-end;
}

nav {
    display: flex;
    width: 454px;
    align-self: flex-end;
    padding: 0px;
    margin-left: 0px;
    box-shadow: -5px -5px 2px #9B7D08, -10px -10px 4px #7A681A;
}
a {
    text-decoration: none;
}

.ABOUT-US, .SERVICES, .CONTACTS {
    display: flex;
   /* width:180px; */
    justify-content: center;
    align-items: center;
    height: 55%;
    background-color: #F5C506;
    padding: 10px;
    border: 1px solid #DCB105;
}
.ABOUT-US {
    width:180px;
}

.SERVICES {
    width:160px;
}

.CONTACTS {
    width:150px;
}
.about-us-text, .services-text, .contacts-text {
    padding-left: 10px;
    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "Segoe WP";
    text-align: center;
}

.ABOUT-US:hover, .SERVICES:hover, .CONTACTS:hover {
    background-color: lightyellow;
}

.intro {
    display: flex;
    background-image: url("pics/Layer _header.jpeg");
    width: 100%;
    padding-top: 160px;
    padding-bottom: 35px;
}

.the-cool, .the-minimal {
    font-size: 63px;
    letter-spacing: 1px;
    color: #F5C506;
    font-family: "Asap";
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.the-minimal {
    color: #FFFFFF;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 10%;
    height: auto;
    /*background-color: #F5C506;*/
}

.right-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 10%;
    height: auto;
}

.yellow-rectangle {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5c506;
    opacity: 0.7;
}

.yellow-rectangle:hover {
    background-color: forestgreen;
}

.central-block {
    display: flex;
    width: 80%;
    height: auto;
}

.placeholder1 {
    width: 50%;
    height: 327px;
    background-image: url("pics/parrots.png");
    background-size: 100% 100%;
    margin-bottom: 37px;
}

.play-centralizing {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    border-radius: 33px;
    background-color: #f5c506;
    opacity: 0.7;
}

.play-button:hover {
    background-color: coral;
}

.video-controls {
    display: flex;
    width: 100%;
    height: 15%;
}

.mini-playbutton-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.mini-playbutton-quatro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #f5c506;
    opacity: 0.7;
}

.mini-playbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 17px;
}

.paint-played {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("pics/rounded-rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
     */
}

.timer {
    width: 220px;
    height: 12px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    border-radius: 3px;
    background-color: #f5c506;
    opacity: 0.5;
}

.counted-time {
    width: 180px;
    height: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    background-color: #f5c506;
}

.volume {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage {
    width: 100%;
    height: 212px;
    max-width: 1300px;
   /* max-height: 212px;*/
    display: flex;
    justify-content: center;
    margin-top: 2px;
    box-shadow: 0px -2px 0px #4C4C4C;

}

.cover {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.design, .custom, .free {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    width: 33.3%;
    height: 99%;
    padding: 0px ;
    border: 1px solid #D4D4D4;
}

.advantage-text {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.social-media-section {
    width: 100%;
    height: 509px;
    display: flex;
    justify-content: center;
    background-image: url("pics/bg_media.png");
    background-size: 100% 100%;
}

.SMS-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;*/
}

.text {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
}

.header-text-media {
    width: 918px;
    height: 130px;
    font-size: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 400;
    text-transform: uppercase;
}

.main-part {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.main-part-separator1 {
    width: 66%;
    height: 233px;
    display: flex;
}

.main-part-separator2 {
    width: 30%;
    height: 233px;
    display: flex;
}

.latin-text-box {
    width: 50%;
    height: 233px;
    display: flex;
    background-color: #EC9E03;
}

.inner-text {
    padding: 20px 0px 20px 20px;
    margin: 0 auto;
}

.latin-text-media {
    width: 279px;
    height: 307px;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-weight: 300;
}

.plus-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1px;
    margin: 8px;
}

.plus-box img:hover {
    background-color: black;
}

.monkey-placeholder {
    width: 50%;
    justify-self: flex-start;
    background-image: url("pics/monkey.jpeg");
    background-size: 100% 100%;
}

.play-centralizing-monkey {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-container {
    width: 90%;
    height: 100%;
    display: flex;
    background-color: #EC9E03;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
}

.twitter {
    width: 90%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.twitter-elements {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.twitter-num {
    margin: 5px 10px 5px 5px;
    display: flex;
    justify-content: flex-start;
}

.twi-num {
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP";
}

.date {
    width: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCB102;
}

.date-num {
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-weight: bold;
}

.date-month {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI";
    text-transform: uppercase;
}

.slidecontainer-cover {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.slidecontainer {
    width: 80%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

}

.media-slider {
    -webkit-appearance: none;
    width: 100%; /* Full-width */
    height: 16px; /* Specified height */
    display: flex;
    align-self: center;
    background-color: #ffffff; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 7px;
    opacity: 0.5;
}

.media-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #EC9E03;
    height: 16px;
    width: 198px;
    border-radius: 7px;
    background-color: #EC9E03;
}

.hi-tech-container {
    position: relative;
    width: 100%;
    height: 499px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("pics/bg_gray.png");
    background-size: 100% 100%;
}

.hi-tech-text-cover {
    padding: 20px;
    margin: 0 auto;
}

.hi-tech-text {
    width: 918px;
    height: 130px;
    font-size: 43px;
    letter-spacing: 0px;
    color: #f5c506;
    font-family: "PT Sans";
    font-weight: 400;
    text-transform: uppercase;
}

.hi-tech-separator {
    width: 80%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.devices {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.ipad-class, .phone-class {
    margin-bottom: 25px;
}

.hi-tech-circle {
    position: absolute;
    display: flex;
    left: 120px;
    top: 120px;
    justify-content: center;
    align-items:center ;
    background-color: #F5C506;
    height: 140px;
    width: 140px;
    border-radius: 200px;
}

.hi-tech-circle-text {
    color: #FFFFFF;
    font-size: 19px;
    font-family: 'LucidaSans-Italic';
}

.list {
    width: 40%;
    display: flex;
    align-items: flex-end;
}

.li-text {
    width: 352px;
    height: 45px;
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "Open Sans";
    font-weight: 400;
}

li {
    list-style: none;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
ul li::before {
    content: "";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    border: 2px solid #F5C506;
    background-color: #f5c506;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.footer{
    width: 100%;
    height: auto;
    background-color: #4C4C4C;
    border-top: 2px solid #3E3E3E;
}

.footer-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
}

.logo-footer{
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
    display: flex;
    align-self: center;
}
